{% extends "layout.html" %}
 
{% block title %}
宿泊プランの価格予想サービス
{% endblock %}
 
{% block headline %}
{{ title }}
{% endblock %}
 
{% block content %}
<p>{{ message }}</p>
<form method="post" action="/predict">
  <ul>
    <li>
      <p>価格：
        <input type="number" name="price" value="{{ price }}"  min="0" required>
      </p>
    </li>
    <li>
      <p>都道府県：
        <select name="prefs" value="{{prefs}}">
          <option value="0">北海道</option>
          <option value="1">青森県</option>
          <option value="2">岩手県</option>
          <option value="3">宮城県</option>
          <option value="4">秋田県</option>
          <option value="5">山形県</option>
          <option value="6">福島県</option>
          <option value="7">茨城県</option>
          <option value="8">栃木県</option>
          <option value="9">群馬県</option>
          <option value="10">埼玉県</option>
          <option value="11">千葉県</option>
          <option value="12">東京都</option>
          <option value="13">神奈川県</option>
          <option value="14">新潟県</option>
          <option value="15">富山県</option>
          <option value="16">石川県</option>
          <option value="17">福井県</option>
          <option value="18">山梨県</option>
          <option value="19">長野県</option>
          <option value="20">岐阜県</option>
          <option value="21">静岡県</option>
          <option value="22">愛知県</option>
          <option value="23">三重県</option>
          <option value="24">滋賀県</option>
          <option value="25">京都府</option>
          <option value="26">大阪府</option>
          <option value="27">兵庫県</option>
          <option value="28">奈良県</option>
          <option value="29">和歌山県</option>
          <option value="30">鳥取県</option>
          <option value="31">島根県</option>
          <option value="32">岡山県</option>
          <option value="33">広島県</option>
          <option value="34">山口県</option>
          <option value="35">徳島県</option>
          <option value="36">香川県</option>
          <option value="37">愛媛県</option>
          <option value="38">高知県</option>
          <option value="39">福岡県</option>
          <option value="40">佐賀県</option>
          <option value="41">長崎県</option>
          <option value="42">熊本県</option>
          <option value="43">大分県</option>
          <option value="44">宮崎県</option>
          <option value="45">鹿児島県</option>
          <option value="46">沖縄県</option>
        </select>
      </p>
    </li>
    <li>
      <p>部屋タイプ：
        <select name="roomtype" value="{{roomtype}}">
          <option value="a">シングル</option>
          <option value="b">セミダブル</option>
          <option value="c">ダブル</option>
          <option value="d">ツイン</option>
          <option value="e">トリプル</option>
          <option value="g">フォース</option>
          <option value="f">ファイブ以上</option>
          <option value="h">和室</option>
          <option value="i">和洋室</option>
        </select>
      </p>
    </li>
    <li>
      <p>朝食：
        <input type="radio" name="bf" value="1" checked > あり
        <input type="radio" name="bf" value="0"> なし
      </p>
    </li>
    <li>
      <p>夕食：
        <input type="radio" name="dinner" value="1" checked> あり
        <input type="radio" name="dinner" value="0"> なし
      </p>
    </li>
    <li>
      <p>面積（㎡）：
        <input type="number" name="area" value="{{ area }}" min="0" required>
      </p>
    </li>
  </ul>
<input type="submit">
</form>
{% endblock %}
 
{% block footer %}
copyright 2024 Yuki_Hasegawa
{% endblock %}